
@model IQueryable<Product>

<div class="container">
    <div class="row">
    @foreach (var product in Model)
    {
        
            <div class="col-md-4 my-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/img/default.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@product.ProductName</h5>
                        <p> <mark> @product.Price </mark> </p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a asp-action="Get" asp-controller="Product" asp-route-id="@product.ProductId" class="btn btn-primary">
                            <i class="fa-solid fa-arrows-turn-right"></i> Get Product Details
                        </a>
                    </div>
                </div>
            </div>
        

    }
    </div>

</div>
