@using StoreApp.Infrastructure.Extensions;

@model Product


        
<div class="col-sm-12 col-md-4 my-2">

     <div class="card" style="width: 18rem;">
          <img class="card-img-top" src=@Model?.ImageUrl alt="Card image cap">
                 <div class="card-body">
                    <h5 class="card-title">@Model?.ProductName</h5>
                    <p> <mark> @Model?.Price </mark> </p>
                    <p class="card-text">@Model.Summary</p>
                 <div class="btn btn-group">

                     <form id="@Model.ProductId" asp-page="/Cart" method="post">
                         <input type="hidden" asp-for="@Model.ProductId" />
                         <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                          <button type="submit" class="btn btn-outline-primary">
                                <i class="fa fa-cart-plus"></i>
                           </button>
                            
                     </form>

                      <a asp-action="Get" asp-controller="Product" asp-route-id="@Model?.ProductId" class="btn btn-primary">
                                <i class="fa-solid fa-arrows-turn-right"></i> Get Details
                            </a>
                  </div>
                        
                  
         </div>
    </div>
 </div>

   
    
