@page "/getintouch"
@model StoreApp.Pages.ContactModel
@{
}


<div class="text-center border rounded shadow my-5">
    <div class="display-6"> Contact </div>
    <br />
    <br />
    
    <div class="lead">
        <i class="fa-solid fa-location-dot fa-bounce"></i> T.C. Cumhurbaşkanlığı Çankaya Yerleşkesi Ziaur Rahman Cad. 06550 Çankaya/Ankara/Türkiye
    </div>
    <p></p>
    <div class="lead my-3">
        Yardım mı lazım<i class="fa-solid fa-question fa-lg" style="color: #db1f1f;"></i>
         Aşağıdaki yöntemleri kullanarak bizimle iletişime geçebilirsiniz.
    </div>
    <div class="lead my-3">
        <i class="fa-solid fa-message fa-beat-fade "></i>  <a href="https://www.turkiye.gov.tr/iletisim?hizli=CozumMerkeziV2">  Hızlı Çözüm Merkezi</a>
    </div>

    <div class="lead my-3">
        <i class="fa-solid fa-envelope fa-shake "></i>  <a href="https://www.turkiye.gov.tr/iletisim?iletisim=Formu">  E-Devlet'e Yazın.</a>
    </div>
    <div class="lead my-3">
        <i class="fa-solid fa-phone-flip fa-beat "></i> <a href="https://www.turkiye.gov.tr/iletisim">  E-devlet Çağrı Merkezi </a>
    </div>
</div>



