@model ProductDtoForInsertion

<div class="text-center">
     <div class="display-6 ">Create</div>
</div>



<form asp-area="Admin" asp-controller="Product" asp-action="Create" method="post">

    @*<div class="text text-danger" asp-validation-summary="All"></div>*@

    <div class="form-group my-3">
        <label asp-for="ProductName"></label>
        <input  asp-for="ProductName" class="form-control" />
        <span class="text text-danger field-validation-valid" asp-validation-for="ProductName"></span>
    </div>

    <div class="form-group my-3">
        <label asp-for="CategoryId">Category</label>
        <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.Categories">

           @* @foreach (var item in ViewBag.categories)
            {
                <option value="@item.CategoryId"> @item.CategoryName </option>
            }*@

        </select>
        <span class="text text-danger field-validation-valid" asp-validation-for="CategoryId"></span>
    </div>

    <div class="form-group my-3">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span class="text text-danger field-validation-valid" asp-validation-for="Price"></span>
    </div>

    <div class="form-group">
        
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
            <a class="btn btn-outline-primary" asp-area="Admin" asp-controller="Product" asp-action="Index">
                <i class="fa fa-list"></i> Products
            </a>
        </div>
    </div>


</form>
